.main {
    height: 100vh;
    background: url(../../public/assets/galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}